/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/.qmake.stash
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/main.o
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/Makefile
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/MapCppObjectToQmlElements.exe
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_movie.cpp
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_movie.o
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_predefs.h
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/movie.o
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/qrc_qml.cpp
/MapCppObjectToQmlElements/build-MapCppObjectToQmlElements-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/qrc_qml.o
/MapCppObjectToQmlElements/MapCppObjectToQmlElements/MapCppObjectToQmlElements.pro.user
